*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/assets/back1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 30px;
}

nav a{
    text-decoration: none;
    color: #fff;
}
h1{
    color: #fff;
}